body {
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bg {
    display: flex;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    margin-bottom: 50px;
}

.stopwatch {
    background: white;
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    flex-grow: 0;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color:  rgb(47, 46, 134);
    border: 2px solid rgb(47, 46, 134);
    color: white;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: white;
    color: rgb(47, 46, 134);
}

.laps {
    margin-top: 20px;
}

.laps ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse; 
}

.laps ul li {
    background: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

